/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#grid{
	display:grid;
	font-size:30px;
	gap:5px;
	grid-template-columns:repeat(4,auto); 
	grid-auto-rows:75px;
}
.Box{
	background:green;
	color:white;
}
#item1 {
	grid-column:span 4/ auto;
}
#item2{
	grid-row:span 4/auto;
}
#item4{
	grid-column:span 2/auto;
}
#item5{
	grid-column:span 2/ auto;
}
#item10{
	grid-column:span 3/auto;
}
